doctype html
html(lang="ja")
  head
    meta(charaset="utf-8")
  body
    h1 トップページ
    if loginUser
      div
        p ようこそ！
    else
      div
        a(href="/signin") ユーザー登録
        a(href="/login") ログイン
    h2 ユーザー一覧
    div
      each user in users
        div
          p #{user.username}