doctype html
html(lang="ja")
  head
    meta(charaset="utf-8")
  body
    h1 タイムライン
    h3 タイムライン一覧
    div
      each timeline in timelines
        p #{timeline.content}
        p #{timeline.user_id.username}
    h3 投稿
    div
      form(action="/timelines/post", method="POST")
        input(type="text" name="content", placeholder="今日さ〜隣のおっさんが〜")
        button(type="submit") 送信